In [179]:
#Import some of the tools I know I will need:
import numpy as np
import pandas as pd
import requests
import zipfile
import io
from datetime import datetime
import random
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats
import pickle 

# Python 2 & 3 Compatibility
from __future__ import print_function, division

%matplotlib inline

In [180]:
pkl_filename_master = "/Users/torrie/Documents/Metis_Project_2_(Luther)/Past_Movie_detail_ALL_raw Pickle_file.pkl"
with open(pkl_filename_master, 'rb') as picklefile: 
    df_MovieData = pickle.load(picklefile)
    
df_MovieData = df_MovieData.reset_index(drop=True)

In [181]:
df_MovieData.columns

Index([u'Titles', u'Ratings', u'Duration', u'Release_date', u'Writer',
       u'Director', u'Actors', u'Genre', u'Budget', u'Opening_Weekend',
       u'Gross', u'Production_Companies', u'Metacritic_Score', u'IMDB_Rating',
       u'IMDB_rating_number'],
      dtype='object')

In [182]:
df_MovieData.dtypes

Titles                   object
Ratings                  object
Duration                 object
Release_date             object
Writer                   object
Director                 object
Actors                   object
Genre                    object
Budget                   object
Opening_Weekend          object
Gross                     int64
Production_Companies     object
Metacritic_Score         object
IMDB_Rating             float64
IMDB_rating_number        int64
dtype: object

Most of the data is "object" format, so I will need to convert dates to datetime and budgets and scores to numbers.

In [183]:
df_MovieData.iloc[5]

Titles                                              When the Bough Breaks
Ratings                                                             PG-13
Duration                                                           PT107M
Release_date                                                   2016-09-09
Writer                                           [Jack Olsen, Jack Olsen]
Director                                                     [Jon Cassar]
Actors                  [Morris Chestnut, Regina Hall, Romany Malco, M...
Genre                                  [Drama, Horror, Mystery, Thriller]
Budget                                                           10000000
Opening_Weekend                                                  14202323
Gross                                                            29703843
Production_Companies                       [Screen Gems, Unique Features]
Metacritic_Score                                                       28
IMDB_Rating                                                           4.7
IMDB_rating_number                                                   2553
Name: 5, dtype: object

Need to change ""'s to nan's , turn the duration into minutes, format dates as dates,

In [184]:
df_MovieData['Duration'] = df_MovieData['Duration'].map(lambda x: x.lstrip('PT').rstrip('M'))
df_MovieData['Release_date'] = pd.to_datetime(df_MovieData['Release_date'], format='%Y-%m-%d', errors='ignore')
df_MovieData.replace('', np.nan, inplace=True)

In [185]:
def columns_to_numeric(df, column_list):
    for column_name in column_list:
        df[column_name] = pd.to_numeric(df[column_name], errors ='coerce')
        df[column_name]= df[column_name].fillna(0).astype(int)
        df[column_name] = df[column_name].astype(int) 

    return df

column_list = ['Budget','Opening_Weekend','Metacritic_Score', 'IMDB_rating_number' ]

df_MovieData = columns_to_numeric(df_MovieData, column_list)

In [186]:
df_MovieData.dtypes

Titles                          object
Ratings                         object
Duration                        object
Release_date            datetime64[ns]
Writer                          object
Director                        object
Actors                          object
Genre                           object
Budget                           int64
Opening_Weekend                  int64
Gross                            int64
Production_Companies            object
Metacritic_Score                 int64
IMDB_Rating                    float64
IMDB_rating_number               int64
dtype: object

What about doing dimensionality reduction on this one instead of only doing one-hot encoding like last time?